<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-content>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA90t4QYG3IYoWKA6CjA-k--tRsSyQh9Gstw&usqp=CAU"
          alt="">
        <h3><b>Marcos Mediano</b></h3>
        <h3>Cheto taking a nap</h3>
        <br>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col>
            <ion-icon button name="thumbs-up-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon  name="chatbox-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon button name="thumbs-down-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>

      <ion-list inset="true">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <ion-text color="primary">
              <ion-card-subtitle>
                <b>
                  User 1030
                </b>
              </ion-card-subtitle>
            </ion-text>
            <p>Haha, cheto's looking sleepy</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <ion-text color="primary">
              <ion-card-subtitle>
                <b>
                  User 1030
                </b>
              </ion-card-subtitle>
            </ion-text>
            <p>Haha, cheto's looking sleepy</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <ion-text color="primary">
              <ion-card-subtitle>
                <b>
                  User 1030
                </b>
              </ion-card-subtitle>
            </ion-text>
            <p>Haha, cheto's looking sleepy</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <ion-text color="primary">
              <ion-card-subtitle>
                <b>
                  User 1030
                </b>
              </ion-card-subtitle>
            </ion-text>
            <p>Haha, cheto's looking sleepy</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card>
  </div>
</ion-content>