#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container h3, ion-card-subtitle {
    color: #000000;
  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-icon {
  font-size: 20px;
  color: #9C8FFF;
}

